#MenuPrincipal{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

hr,#MenuNavegacion{
    width: 90%;
    margin: 0 5% 0 auto !important;
}
hr {
    height: 2px !important;
    background-color: white !important;
    border-radius: 5px !important;
    opacity: 1 !important;
}

#MenuNavegacion{
    padding: 25px 20px 8px 20px;
    color:white;
    font-family: aileron,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
}
#OpcionesNavegacion{
    width: 100%;
    display: flex;
    justify-content: space-between;  
}
#OpcionesNavegacion > a:hover{
    font-weight: 550;
}
body{
    background-repeat:no-repeat;
    background-size:100%;
    background-image:url("../img/sff.svg");
    background-color: #848484 !important;
}
.navbar-toggler-icon{
    background-image:url("../img/menu.png") !important;
}


.ImagenesMenu{
    width: 4%;
}

.ImagenesSuperpuestas{
    width: 80%;
    margin-left: 10%;
    border-radius: 50px;
    border: 1px white solid;
    filter: grayscale(1);
}
@media (max-width: 992px){
hr {
    display: none;
}
a{
    width: 100%;
    margin-left: 3%;
}
#OpcionesNavegacion{
    margin-left: auto; 
    flex-wrap: wrap;
}
#MenuPrincipal{
    display: flex;
    flex-direction: row-reverse;
}
#MenuNavegacion{
    margin: 0 auto 0 1% !important;
    padding: 15px 20px 8px 2px;

}
#MenuNavegacion >button{
    margin: 0 auto 0 1% !important;
    margin-left: 0;
    margin-right: auto;
}
#ContenedorLogo{
    margin-left: auto;
    margin-bottom: auto;
}
.ImagenesMenu{
display: none;
}
}