#MenuPrincipal{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

hr,#MenuNavegacion{
    width: 90%;
    margin: 0 5% 0 auto !important;
}
hr {
    height: 2px !important;
    background-color: white !important;
    border-radius: 5px !important;
    opacity: 1 !important;
}

#MenuNavegacion{
    padding: 25px 20px 8px 20px;
    color:white;
    font-family: aileron,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
}
#OpcionesNavegacion{
    width: 100%;
    display: flex;
    justify-content: space-between;  
}
#OpcionesNavegacion > a:hover{
    font-weight: 550;
}
body{
    background-repeat:no-repeat;
    background-size:100%;
    background-image:url("../img/sff.svg");
    background-color: #848484 !important;
}
.navbar-toggler-icon{
    background-image:url("../img/menu.png") !important;
}


.ImagenesMenu{
    width: 4%;
}

.ImagenesSuperpuestas{
    width: 80%;
    margin-left: 10%;
    border-radius: 50px;
    border: 1px white solid;
    filter: grayscale(1);
}

#ImgLogo{
    width: 25%;
    filter: grayscale(0.1);
}

.ImagenesCirculares{
    width: 100%;
    border-radius: 100%;
    border: 3px solid white;
    filter: grayscale(0.1);
}


#prueba:hover{
display: none;
transition: 1s;
}
#ContenedorSlides{
    margin-top: 50px;
}
.SubtituloCategoria{
    color:white;
    font-family: aileron,sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 1px;
}

#SuperIzq{
    position: absolute; right: 30%; top: 40px;
}
#SuperDer{
    position: absolute; left: 30%; top: 90px;
}
@media (max-width: 1620px){
    #ContenedorSlides{
        margin-top: 150px;
    }
}
@media (max-width: 1330px){
    #ContenedorSlides{
        margin-top: 250px;
    }
}
@media (max-width: 1100px){
    #ContenedorSlides{
        margin-top: 350px;
    }
}
@media (max-width: 992px){
    #ContenedorSlides{
        margin-top: 450px;
    }
hr {
    display: none;
}
a{
    width: 100%;
    margin-left: 3%;
}
#OpcionesNavegacion{
    margin-left: auto; 
    flex-wrap: wrap;
}
#MenuPrincipal{
    display: flex;
    flex-direction: row-reverse;
}
#MenuNavegacion{
    margin: 0 auto 0 1% !important;
    padding: 15px 20px 8px 2px;

}
#MenuNavegacion >button{
    margin: 0 auto 0 1% !important;
    margin-left: 0;
    margin-right: auto;
}
#ContenedorLogo{
    margin-left: auto;
    margin-bottom: auto;
}
.ImagenesMenu{
display: none;
}


#ImgLogo{
    width: 35%;
    display: block;
    margin-left: auto;
    filter: grayscale(0.1);
}
#ContenedorPrincipal{
    flex-direction: column-reverse;
}
.ImagenesCirculares{
    margin-bottom: 20px;
}
#SuperIzq{
    position: absolute; right: 30%; top: 0px;
}
#SuperDer{
    position: absolute; left: 30%; top: 50px;
}
}
@media (max-width: 800px){
    #ContenedorSlides{
        margin-top: 400px;
    }
}
@media (max-width: 650px){
    #ContenedorSlides{
        margin-top: 350px;
    }
}
@media (max-width: 550px){
    #ContenedorSlides{
        margin-top: 300px;
    }
}
@media (max-width: 450px){
    #ContenedorSlides{
        margin-top: 250px;
    }
}